    <footer class="blog-footer">
      <div class="container">
        <p>
        <a class="btn btn-primary btn-sm" href="#" role="button">Back to top</a>        
        </p>
      </div>
      
      <div class="container">
        <font color="black">
        <%= copyright_generator %>
        </font>
      </div>
      </footer>