 <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">My Work</h1>
        <p class="lead text-muted"> This is a collection of the various projects I have done they can be an example as well as a template for your website if you wish.</p>
        <p>
        <table>
          <tr>
            <th><a href="/" class="btn btn-primary">Homepage</a></th>
            <th><a href="contact" class="btn btn-secondary">Let's get in touch</a></th>
            <th><%= link_to 'Find Out More About Me', about_path, class: 'btn btn-secondary' %></th>
          </tr>
        </table>
        </p>
      </div>
  </section>