    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <%= link_to "View all Portfolio Items", portfolios_path, class: 'btn btn-primary btn-sm' %>
          <%= link_to "Back to top", portfolios_path, class: 'btn btn-primary btn-sm' %>
        </p>
        <p><%= copyright_generator %></p>
      </div>
    </footer>