<h1>Contact me</h1>

<p> I charge <%= number_to_currency "150" %> for a website similar to this one</p>

<p> Phone number <%= number_to_phone "8015058750" %></p>

<p><a href="mailto:andrewgardner@live.com?subject=PortfolioContact" "email me">Email me</a></p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3030.5184613585593!2d-111.89041368469317!3d40.5743099793472!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x875287db95a503ad%3A0xbda582c936c38063!2sJordan+High+School!5e0!3m2!1sen!2sus!4v1499879662249" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>


<!--<p><%= number_with_delimiter "34342342342342" %></p>--> 