          <div class="inner cover">
            <h1 class="cover-heading">Modern Design</h1>
            <p class="lead">Intelligent design implemented in a modern method with no legacy formats </p>
            <p class="lead">
              <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
            </p>
          </div>